:root {
    --background: hsl(212, 74%, 77%);
    --background-main: hsl(212, 77%, 83%);
    --color-font-header: #252c4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    scrollbar-width: none;
    scrollbar-color: #4554ac hsl(212, 77%, 83%);
}

#aplication {
    background: var(--background-main);
    border-radius: 1.2rem;
    max-width: 1024px;
    height: 700px;
    margin: 0 auto;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-font-header);
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}

header .titleHeader {
    flex: 2;
}

.area-search {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    outline: none;
    flex: 2;
    transition: all 0.5s;
}

.searchInputArea {
    display: flex;
    border-radius: 0.5rem;
    border: 1px solid #7079a3;
    outline: none;
    flex: 2;
}

.searchInputArea input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: transparent;
    flex: 3;
}

.searchInputArea input:focus {
    outline: none;
}

.searchInputArea button {
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background: var(--color-font-header);
    color: hsl(212, 77%, 83%);
    cursor: pointer;
    transition: filter 0.4s;
}

.searchInputArea button:hover {
    filter: opacity(0.8);
}

.error-validation-search {
    padding: 0.5rem;
    color: #ff0000;
    display: none;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    display: flex;
    margin: 1rem 0;
    padding: 1rem 0;
    transition: opacity 0.6s;
    height: 100%;
}

.isPending {
    opacity: 0;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 0 1rem;
    padding: 1rem;
    background: #4554ac;
    color: hsl(212, 77%, 83%);
    height: 100%;
}

.error {
    border: 1px solid red;
}

#imagem-avatar-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#avatarImg {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 0;
    background: hsl(212, 77%, 83%);
}

.informationsProfile {}

.informationsProfile div {
    margin: 0.8rem 0;
}

.informationsProfile p,
.informationsProfile a {
    margin: 0.5rem 0;
    color: inherit;
}

main {
    display: inline-block;
    overflow: auto;
}

#container-card {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#card {
    background: #4554ac;
    color: hsl(212, 77%, 83%);
    max-height: 150px;
    padding: 1rem;
    border-radius: 0.5rem;
}

#list-repositories {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#list-repositories li {
    padding: 1rem;
    border-radius: 0.5rem;
    background: #4554ac;
    color: hsl(212, 77%, 83%);
    margin: 0 1rem 1rem 1rem;
    width: 45%;
}

#list-repositories li div span {
    display: block;
    margin: 0.5rem 0;
}

#list-repositories li div a {
    color: hsl(212, 77%, 83%);
    text-decoration: none;
    font-weight: bold;
}